<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Enviar email</h2>
    <form method="post" action="/enviar_email">
        Email destino:<input type="email" name="email"/>
        <br>
        Assunto:<input type="text" name="assunto" />
        <br>
        Texto:<input type="text" name="texto"/>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>